$color-white: #ffffff;
$color-gray : #555555;
$color-black : black;

$grad1:  linear-gradient(90deg, rgb(162, 238, 234), rgb(213, 223, 220), rgb(146, 221, 240));
$grad2:  linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1);