@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet>');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap" rel="stylesheet');

$font-stack : 'PT Sans', sans-serif;
$font-stack2: 'Roboto Slab', serif;
$font-stack3: 'Comfortaa';

$weight-normal: normal;
$weight-bold: bolder;
$weight-400: 400;

$size-20 : 20px;
$size-15 : 15px;
$size-10 : 10px;
$size-30: 30px;
